body
{
    background-color: rgb(27, 27, 27);
}
@font-face {
    font-family: alphacentauri;
    src: url(./alphacentauri.ttf);
}
#heading1
{
    font-family: alphacentauri;
    font-size: 250px;
    color: rgb(247, 189, 83);
    text-align: center;
}
#logo
{
    max-width: 250px;
    align-items: center;
}
